<!DOCTYPE HTML>
<html>
<head>
    <title>404</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
        body {
            text-align: center
        }
        
        img {
            width: 90%;
            margin-top: 15%;
        }
        
        p {
            color: #8e8e8e;
            font-size: 16px;
            text-align: center;
            margin-top: 70px;
        }
    </style>
</head>

<body>
    <img src="/img/404.png">
    <p>此页面被遗忘在太空中了</p>
</body>
</html>